<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/createQuiz.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="../css/createQuiz.css"> -->
</head>
<body>
    <div class = "container">
        <canvas id=c style="height:1150px;width:1500px;"></canvas>
        <div id = "overlay">
    <h1>Create an awesome quiz in minutes</h1>

    <form>
        <label>Quiz Name</label>
        <input type="text" class="form-control" id="name">
        <label>Quiz Description</label>
        <input type="text" class="form-control" id="desc">
        <label>PLease enter the labels</label>
        <p>A : </p>
        <input type="text" class="form-control" id = "a1">
        <p>B : </p>
        <input type="text" class="form-control" id = "a2">
        <p>C : </p>
        <input type="text" class="form-control" id= "a3">
        <p>D : </p>
        <input type="text" class="form-control" id="a4">
        <br/><br/>
        <div id="qus_holder">
            <div class = "Question" id="1">
                    <p>Enter the quetion</p>
                    <div class="form-group row" id="qr">
                        <label for="exampleInputEmail1" >Question</label>
                        <!-- <label for="cb">Upload Image</label>
                        <input id="cb1" type="checkbox"> -->
                        <input type="text" class="form-control question"  aria-describedby="emailHelp" id = "question"> 
                        <input type="file" accept="image/*" >
                        
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputPassword1">A
                        <input type="text" class="form-control option1" id = "option1">
                    </label>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputPassword1">B
                        <input type="text" class="form-control option2" id="option2">
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputPassword1">C
                        <input type="text" class="form-control option3" id="option3">
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputPassword1" >D
                        <input type="text" class="form-control option4" id="option4">
                    </div>
            </div>
        </div>

        <button class="add btn btn-primary" type="button" onclick="new_link()" >Add</button>
        <button type="button"  class="btn btn-primary" onclick="postQuiz()">Submit</button>
    
    </div>
    </form>
    <script>
        /*
        This script is identical to the above JavaScript function.
        */
        
        </script>
    <!-- <script src="../js/createQuiz.js"></script> -->
    <script src="../js/createQuiz.js"></script>
    <script src="../js/postQuiz.js"></script>
</div>
</div>
</body>
</html>