<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href="../css/Profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class = "container">
        <canvas id=c></canvas>
        <div id = "overlay">
       <div id="quiz">

       </div>
       <button id="submit">Submit Quiz</button>
      </div>
    </div>
    <script src = "../js/Profile.js"></script>
</body>
</html>